<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ .PageTitle }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {{if .Styles}}
    {{range $val := .Styles}}
    <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{end}}
    {{end}}
</head>
<body>
    <div class="site">
        <div class="site__content">
            {{ template "content" }}
        </div>
    </div>
    {{if .BottomScripts}}
    {{range $val := .BottomScripts}}
    <script src="{{ $val }}"></script>
    {{end}}
    {{end}}
</body>

</html>